img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.body::before {
    display: block;
    content: '';
    height: 60px;
}

/* Three columns side by side */
.column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
    color: #000;
}

/* Display the columns below each other instead of side by side on small screens (2) */
@media screen and (max-width: 1000px) {
    .column {
        width: 50%;
        display: block;
    }
}

/* Display the columns below each other instead of side by side on small screens (1) */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

.card-subtitle {
    color: grey;
}
