{% extends 'base.html' %}
{% block title %} {{animal.name}} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animal_detail.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/animal_detail.js') }}"></script>
{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 pt-lg-5">
    <div class="containerik">
        <div class="picture">
            <img src="{{ url_for('static', filename=animal.image) }}" alt="Alex">
        </div>
        <div class="text">
            <h1>{{animal.name}}</h1>
            <table class="delsi">

                <tr>
                    <td>Pohlaví</td>
                    <td class="p">{{animal.sex}}</td>

                </tr>
                <tr>
                    <td>Druh</td>
                    <td class="p">{{animal.kind}}</td>

                </tr>
                <tr>
                    <td>Plemeno</td>
                    <td class="p">{{animal.breed}}</td>

                </tr>
                <tr>
                    <td>(Odhadované) datum narození</td>
                    <td class="p">{{animal.birthday}}</td>

                </tr>
                <tr>
                    <td>Barva</td>
                    <td class="p">{{animal.color}}</td>

                </tr>
                <tr>
                    <td>Váha[kg]</td>
                    <td class="p">{{animal.weight}}</td>
                </tr>
                <tr>
                    <td>Výška[cm]</td>
                    <td class="p">{{animal.height}}</td>
                </tr>
                <tr>
                    <td>Datum nalezení/přijetí</td>
                    <td class="p">{{animal.discovery_day}}</td>
                </tr>
                <tr>
                    <td>Místo nalezení/přijetí</td>
                    <td class="p">{{animal.discovery_place}}</td>
                </tr>
            </table>
        </div>
        <div class="describe">
            {{animal.description}}<br>
        </div>
    </div>
    <div>
        {% if PERMISSION_MY_WALKS_ADD %}
        <button class="btn btn-success btn-sm" onclick="showAndHide()"><i class="bi bi-plus-lg"></i>Termíny k
            venčení </button>
        {%endif%}

        {% if PERMISSION_EXAMINATIONS_SHOW %}
        <a type="button" href="{{url_for('animals_medical_record', id=animal.id)}}"
            class="btn btn-primary btn-sm">Zdravotní záznam</a>
        {% endif %}


        {% if PERMISSION_EXAMINATIONS_REQUEST %}
        <a type="button" href="{{url_for('medical_request', id=animal.id)}}" class="btn btn-danger btn-sm"> Poslat k
            veterináři</a>
        {% endif %}

        {% if PERMISSION_ANIMALS_EDIT %}
        <a type="button" class="btn btn-warning btn-sm" href="/animals/edit/{{animal.id}}"><i
                class="bi-pencil-fill"></i> Upravit zvíře</a>
        {%endif%}
        {% if PERMISSION_MY_WALKS_ADD %}
        <div style="display: none;" id="walks_detail">
            <div class="container mt-3">
                <table class="table table-dark table-striped table-bordered align-middle walksTable">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Začátek</th>
                            <th scope="col">Konec</th>
                            <th scope="col">Rezervovat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interval in intervals %}
                        {% if interval.free %}
                        <tr>
                            <td>{{interval.start}}</td>
                            <td>{{interval.end}}</td>
                            <td>
                                <form method="POST" class="requestWalk"
                                    action="{{ url_for('request_walk', id=animal.id) }}">
                                    <button class="btn btn-success bi-check-lg" type="submit"> Rezervovat</button>
                                    <input type="hidden" value="{{ interval.start }}" name="start" />
                                    <input type="hidden" value="{{ interval.end }}" name="end" />
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%endif%}
    </div>
</section>

{% endblock %}