{% extends 'base.html' %}
{% block title %} Upravit {{animal.name}} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animal_add.css') }}" />
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/animals.js') }}"></script> -->
{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"></section>
<div class="containerik">
    <h2>Upravit zvíře:</h2>
    <form method='POST'>
        <div class=" row">
            <div class="col">
                <label for="name">Jméno:</label>
                <input type="text" class="form-control" name="name" value="{{ animal.name }}" required>
            </div>
            <div class="col">
                <label for="sex">Pohlaví:</label>
                <select class="form-control" name="sex" value="{{ animal.sex }}" required>
                    <option>Samec</option>
                    <option>Samice</option>
                </select>
            </div>
            <div class="col">
                <label for="color">Barva:</label>
                <input type="text" class="form-control" name="color" value="{{ animal.color }}" required>
            </div>

            <div class="form-group col">
                <label for="weight"> Váha [kg]:</label>
                <input type="number" class="form-control" name="weight" value="{{ animal.weight }}" required>
            </div>
            <div class="form-group col">
                <label for="height"> Výška [cm]:</label>
                <input type="number" class="form-control" name="height" value="{{ animal.height }}" required>
            </div>
            <div class="form-group col">
                <label for=" kind">Druh zvířete:</label>
                <select class="form-control" name="kind" value="{{ animal.kind }}" required>
                    <option>Pes</option>
                    <option>Kočka</option>
                    <option>Hlodavec</option>
                    <option>Ryba</option>
                    <option>Jiné</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="form-group col">
                <label for=" breed"> Plemeno:</label>
                <input type="text" class="form-control" name="breed" value="{{ animal.breed }}" required>
                <small class="form-text text-muted">V případě nejistoty zadejte
                    "Kříženec"</small>
            </div>
            <div class="form-group col">
                <label for="chip"> Číslo čipu:</label>
                <input type="number" class="form-control" name="chip_id" value="{{ animal.chip_id }}">
            </div>

            <div class="form-group col">
                <label for="birthday"> (Odhadované) datum narození:</label>
                <input type="date" class="form-control" name="birthday" value="{{ animal.birthday }}" required>
            </div>
            <div class="form-group col">
                <label for="discovery_day"> Datum nalezení/přijetí:</label>
                <input type="date" class="form-control" name="discovery_day" value="{{ animal.discovery_day }}"
                    required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col">
                <label for="place"> Místo nalezení/přijetí:</label>
                <input type="text" class="form-control" name="discovery_place" value="{{ animal.discovery_place }}"
                    required>
                <small class="form-text text-muted">V případě přijetí zvířete zde v útulku
                    zadejte Božetěchova 2</small>
            </div>
            <div class="form-group col">
                <label for="pic">Přidat fotku:</label><br>
                <input type="file" name="pic">
            </div>

        </div>

        <div class="form-group">
            <label for="description"> Popis:</label>
            <textarea type="text-area" class="form-control" rows="2" name="description"
                required>{{animal.description}}</textarea>
        </div>
        <div class="text-center mt-3">
            <button type="submit" style="text-align: center;" class="btn btn-primary "><i
                    class="bi bi-pencil-square"></i> Upravit</button>
        </div>


        <br>

    </form>
</div>
</section>

{% endblock %}
