/* body::before {
    display: block;
    content: '';
    height: 60px;
} */
.containerik {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head head head head"
        "otv otv helppls helppls";
    padding: 45px;
    /* posunuti kvuli navbaru*/

}

.head {
    grid-area: head;
}

.otv {
    grid-area: otv;
}

.help {
    grid-area: helppls;
}