{% extends 'base.html' %}
{% block title %} 500 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error_page.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/error_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="text-center flex-column text-danger" id="body">
<h1>500 Internal server error</h1>
<p>Interní chyba serveru.</p>
<a href="{{ url_for('index') }}" class="btn btn-primary">Vrátit se domů</a>
</div>

{% endblock %}
