{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="p-3 bg-dark text-white text-center text-sm-start">
    <div class="container">
        <h1>Administrace</h1>
    </div>
</section>

<section class="bg-light p-5 p-lg-0 pt-lg-3 text-center text-sm-start" id="sectionBody">
    <div class="container">
        <div class="mb-5 mt-2 usersTable">
            {% if PERMISSION_USERS_ADD %}
            <a class="btn btn-primary my-2" role="button">Přidat uživatele</a>
            {% endif %}
            {% if PERMISSION_USERS_SHOW %}
            <table class="table table-striped table-bordered align-middle" id="usersTable">
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="10">Uživatelé</th>
                    </tr>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Role</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">Bydliště</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Hodnocení</th>
                        {% if PERMISSION_USERS_VERIFY %}
                        <th scope="col">Ověření</th>
                        {% endif %}
                        {% if PERMISSION_USERS_EDIT %}
                        <th scope="col">Edit</th>
                        {% endif %}
                        {% if PERMISSION_USERS_DELETE %}
                        <th scope="col">Smazat</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.login }}</td>
                        <td>{{ user.user_role }}</td>
                        <td>{{ user.name + " " + user.surname }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.tel_number }}</td>
                        <td>{{ user.rating }}</td>
                        {% if user.verified %}
                        <td class="col text-center"><i class="bi-check" style="font-size: 2rem; color: #198754;"></i>
                        </td>
                        {% else %}
                        <td class="col text-center"><i class="bi-x" style="font-size: 2rem; color: #dc3545;"></i></td>
                        {% endif %}
                        <td class="col text-center">
                            <form method="POST" class="editUser">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold bi-pencil-fill editUser"
                                    type="submit"></button>
                                <input type="hidden" value="{{ user.id }}" name="id" />
                                <input type="hidden" value="user" name="object" />
                                <input type="hidden" value="VERIFY" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                        <td class="col text-center">
                            <form method="POST" class="deleteUser">
                                <button class="btn btn-danger btn-login text-uppercase fw-bold bi-trash-fill deleteUser"
                                    type="submit"></button>
                                <input type="hidden" value="{{ user.id }}" name="id" />
                                <input type="hidden" value="user" name="object" />
                                <input type="hidden" value="DELETE" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %} <!-- users show -->
        </div>

        <hr />

        <div class="my-5 animalsTable">
            <a class="btn btn-primary my-2" role="button">Přidat zvíře</a>
            <table class="table table-striped table-bordered align-middle" id="animalsTable">
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="10">Zvířata</th>
                    </tr>
                    <tr>
                        <th scope="col">Jméno</th>
                        <th scope="col">Pohlaví</th>
                        <th scope="col">Barva</th>
                        <th scope="col">Váha</th>
                        <th scope="col">Výška</th>
                        <th scope="col">Druh</th>
                        <th scope="col">Plemeno</th>
                        <th scope="col">Kód Čipu</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Smazat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.sex }}</td>
                        <td>{{ animal.color }}</td>
                        <td>{{ animal.weight }}</td>
                        <td>{{ animal.height }}</td>
                        <td>{{ animal.kind }}</td>
                        <td>{{ animal.breed }}</td>
                        <td>{{ animal.chip_id }}</td>
                        <td class="col text-center">
                            <form method="POST" class="editAnimal">
                                <button
                                    class="btn btn-primary btn-login text-uppercase fw-bold bi-pencil-fill editAnimal"
                                    type="submit"></button>
                                <input type="hidden" value="{{ animal.id }}" name="id" />
                                <input type="hidden" value="animal" name="object" />
                                <input type="hidden" value="EDIT" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                        <td class="col text-center">
                            <form method="POST" class="deleteAnimal">
                                <button
                                    class="btn btn-danger btn-login text-uppercase fw-bold bi-trash-fill deleteAnimal"
                                    type="submit"></button>
                                <input type="hidden" value="{{ animal.id }}" name="id" />
                                <input type="hidden" value="animal" name="object" />
                                <input type="hidden" value="DELETE" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr />

        <div class="my-5 eventsTable">
            <a class="btn btn-primary my-2" role="button">Přidat událost</a>
            <table class="table table-striped table-bordered align-middle" id="eventsTable">
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="11">Události</th>
                    </tr>
                    <tr>
                        <th scope="col">Druh</th>
                        <th scope="col">Jméno osoby</th>
                        <th scope="col">Email</th>
                        <th scope="col">Začátek</th>
                        <th scope="col">Konec</th>
                        <th scope="col">Jméno zvířete</th>
                        <th scope="col">Druh</th>
                        <th scope="col">Kód čipu</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Smazat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.event_type.name.title() }}</td>
                        {% if event.user %}
                        <td>{{ event.user.name + " " + event.user.surname }}</td>
                        {% else %}
                        <td>Deleted User</td>
                        {% endif %}
                        <td>{{ event.user.email }}</td>
                        <td>{{ event.start }}</td>
                        <td>{{ event.end }}</td>
                        <td>{{ event.animal.name }}</td>
                        <td>{{ event.animal.kind }}</td>
                        <td>{{ event.animal.chip_id }}</td>
                        <td>{{ event.description }}</td>
                        <td class="col text-center">
                            <form method="POST" class="editEvent">
                                <button
                                    class="btn btn-primary btn-login text-uppercase fw-bold bi-pencil-fill editEvent"
                                    type="submit"></button>
                                <input type="hidden" value="{{ event.id }}" name="id" />
                                <input type="hidden" value="event" name="object" />
                                <input type="hidden" value="EDIT" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                        <td class="col text-center">
                            <form method="POST" class="deleteEvent">
                                <button
                                    class="btn btn-danger btn-login text-uppercase fw-bold bi-trash-fill deleteEvent"
                                    type="submit"></button>
                                <input type="hidden" value="{{ event.id }}" name="id" />
                                <input type="hidden" value="event" name="object" />
                                <input type="hidden" value="DELETE" name="action" />
                                <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr />

    </div>
</section>

{% endblock %}