{% extends 'base.html' %}
{% block title %}
Nalezená zvířata
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/animals.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="bg-dark text-light p-5 pt-lg-5">
    <div class="container" style="padding-top: 40px;">
        <h1 style="text-align:middle">Adoptujte si <span style="color: #D9514E;">nového člena</span> rodiny</h1>
        <div class="d-sm-flex align-items-center justify-content-between">
            <div style="width: 100%;">
                <input type="text" class="input-filter" id="filtering" onkeyup="filtering()" placeholder="Hledej" />
                {% if PERMISSION_ANIMALS_ADD %}
                <a type="button" class="btn btn-primary btn-sm" href="{{url_for('add_get')}}">Přidat zvíře</a>
                {% endif %}
                <div class="row" id="animals">
                    {% for animal in animal_info %}
                    <div class="column">
                        <div class="card w-150">
                            <img src="{{ url_for('static', filename='assets/Alex1.jpg') }}" alt="Alex"
                                style="width:100%">
                            <div class="card-body">
                                <h2 class="card-title">{{animal.name}}</h2>
                                <p class="card-subtitle">{{animal.breed}}</p>
                                <p>Věk: {{animal.birthday}} </p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a type="button" href="animal/{{animal.id}}" class="btn btn-outline-info"><i
                                            class="bi bi-info-square"></i> Více
                                        informací</a>
                                    <form method="POST" class="deleteAnimal">
                                        <button
                                            class="btn btn-danger btn-login text-uppercase fw-bold bi-trash-fill deleteAnimal"
                                            type="submit"></button>
                                        <input type="hidden" value="{{ animal.id }}" name="id" />
                                        <input type="hidden" value="animal" name="object" />
                                        <input type="hidden" value="DELETE" name="action" />
                                        <input type="hidden" value="{{ url_for('admin') }}" name="url" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}