{% extends 'base.html' %}
{% block title %} Pes gang {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>
                    Udělejte radost našim
                    <span style="color: #d9514e">mazlíčkům</span> a užijte si s nimi procházku
                </h1>
                <p class="lead mt-4">
                    Naši mázličci jsou často osamělí a potřebují spoustu pozornosti. Udělejte jim lepší den a vezměte je s sebou na procházku.<br/>
                    O všechny naše přírůstky se snažíme starat co nejlépe za pomoci odborných veterinářů.
                </p>
                <h2 class="mt-5 mb-3" >Pár fotek našich mazlíčků, jak si užívají procházky.</h2>
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ url_for('static', filename='assets/wallpaper1.jpg') }}" class="d-block w-100" alt="wallpaper1">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ url_for('static', filename='assets/wallpaper2.jpg') }}" class="d-block w-100" alt="wallpaper2">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/wallpaper3.jpg') }}" class="d-block w-100" alt="wallpaper3">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='assets/wallpaper4.jpg') }}" class="d-block w-100" alt="wallpaper4">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Předchozí</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Další</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
