{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>
                    Adoptujte si
                    <span style="color: #d9514e">nového člena</span> rodiny
                </h1>
                <p class="lead my-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                    architecto quas distinctio accusantium, rem obcaecati sint non m
                    aiores porro odit numquam nemo voluptatibus ea ipsum ut quos
                    reiciendis perspiciatis ipsa.
                </p>
                <button class="btn btn-primary btn-lg">Adoptuj</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}
