{% extends 'base.html' %}
{% block title %} Upravit profil {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"></section>
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <h2>Upravit profil</h2>
                <form method="POST" id="editProfile"
                oninput='password2.setCustomValidity(password2.value != password.value ? "Hesla se neshodují." : "")'>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="registerPassword"
                    placeholder="Password" name="password" required>
                    <label for="password">Nové Heslo*</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="passwordCheck" name="password2"
                    placeholder="Password" required>
                    <label for="passwordCheck">Potvrďte heslo*</label>
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                    name="registerSubmit">Potvrdit</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock%}
