{% extends 'base.html' %}
{% block title %} Přidat uživatele {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animal_add.css') }}" />
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/animals.js') }}"></script> -->
{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"></section>
<div class="containerik">
    <h2>Přidat uživatele:</h2>
    <form method='POST'>
        <div class=" row">
            <div class="col">
                <label for="name">Jméno:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="col">
                <label for="surname">Přijmení:</label>
                <input type="text" class="form-control" name="surname" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="col">
                <label for="tel_number">Telefonní číslo:</label>
                <input type="text" class="form-control"
                    pattern="(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}" name="tel_number" required>
            </div>
        </div>
        <div class=" row">
            <div class="col">
                <label for="address">Adresa:</label>
                <input type="text" class="form-control" name="address" required>
            </div>
            <div class="col">
                <label for="rating">Hodnocení:</label>
                <input type="number" class="form-control" name="rating" required>
            </div>
        </div>
        <div class=" row">
            <div class="col">
                <label for="login">Login:</label>
                <input type="text" class="form-control" name="login" required>
            </div>
            <div class="col">
                <label for="password">Heslo:</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="col">
                <label for="user_role">Role:</label>
                <select class="form-control" name="user_role" required>
                    <option value="none" selected>Zvolte roli</option>
                    {% for role in roles %}
                    <option value="{{role.name}}">{{role.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>

        <div class="text-center">
            <button type="submit" style="text-align: center;" class="btn btn-primary "><i
                    class="bi bi-pencil-square"></i>Přidat</button>
        </div>

    </form>
</div>
</section>

{% endblock%}