{% extends 'base.html' %}
{% block title %} Uživatelé {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="p-3 bg-dark text-white text-center text-sm-start">
    <div class="container">
        <h1>Administrace</h1>
    </div>
</section>

<section class="bg-light p-5 p-lg-0 pt-lg-3 text-center text-sm-start" id="sectionBody">
    <div class="container">
        <div class="mb-5 mt-2 usersTable">
            {% if PERMISSION_USERS_ADD %}
            <a class="btn btn-primary mb-2" type="button" href="{{url_for('user_add')}}">Přidat uživatele</a>
            <table class="table table-striped table-bordered align-middle" id="usersTableAdmin">
            {% else %}
            <table class="table table-striped table-bordered align-middle" id="usersTableCaretaker">
            {% endif %}
            {% if PERMISSION_USERS_SHOW %}
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="10">Uživatelé</th>
                    </tr>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Role</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">Bydliště</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Hodnocení</th>
                        {% if PERMISSION_USERS_VERIFY %}
                        <th scope="col">Ověření</th>
                        {% endif %}
                        {% if PERMISSION_USERS_EDIT %}
                        <th scope="col">Upravit</th>
                        {% endif %}
                        {% if PERMISSION_USERS_DELETE %}
                        <th scope="col">Smazat</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.login }}</td>
                        <td>{{ user.user_role.czech_name }}</td>
                        <td>{{ user.name + " " + user.surname }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.tel_number }}</td>
                        <td>{{ user.rating }}</td>

                        <!-- USER VERIFY -->
                        {% if PERMISSION_USERS_VERIFY %}
                            {% if current_user.id == user.id %}
                            <td></td>
                            {% else %}
                                
                            {% if not user.verified %}
                            <!-- UNVERIFIED -->
                            <td class="col text-center"><a href="{{ url_for('users_verify', id=user.id) }}" class="btn btn-danger bi-x-lg" role="button"></a></td>
                            {% elif user.volunteer %}
                            <!-- VERIFIED VOLUNETEER -->
                            <td class="col text-center"><a href="{{ url_for('users_unverify', id=user.id) }}" class="btn btn-success bi-check-lg" role="button"></a></td>
                            {% else %}
                            <!-- VERIFIED OTHER ROLES -->
                            <td class="col text-center"><i class="bi-check" style="font-size: 2rem; color: #198754;"></i></td>
                            {% endif %}
                            {% endif %}
                        {% endif %}

                        <!-- USER EDIT -->
                        {% if PERMISSION_USERS_EDIT %}
                        <td class="col text-center">
                            <a href="users/edit/{{user.id}}" class="btn btn-primary text-uppercase fw-bold bi-pencil-fill editUser" role="button"></a>
                        </td>
                        {% endif %}

                        <!-- USER DELETE -->
                        {% if PERMISSION_USERS_DELETE %}
                        <td class="col text-center">
                            <form method="POST" class="deleteUser" action="{{ url_for('users_delete') }}">
                                <button class="btn btn-danger text-uppercase fw-bold bi-trash-fill deleteUser"
                                    type="submit"></button>
                                <input type="hidden" value="{{ user.id }}" name="id" />
                                <input type="hidden" value="{{ url_for('users_delete') }}" name="url" />
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <!-- users show -->
        </div>
    </div>
</section>

{% endblock %}
