{% extends 'base.html' %}
{% block title %} Přidat uživatele {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animal_add.css') }}" />
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/animals.js') }}"></script> -->
{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"></section>
<div class="containerik">
    <h2>Přidat uživatele:</h2>
    <form method='POST'>
        <div class=" row">
            <div class="col">
                <label for="name">Jméno:</label>
                <input type="text" class="form-control" name="name" value="{{ request.form['name'] }}" required>
            </div>
            <div class="col">
                <label for="surname">Přijmení:</label>
                <input type="text" class="form-control" name="surname" value="{{ request.form['surname'] }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" value="{{ request.form['email'] }}" required>
            </div>
            <div class="col">
                <label for="tel_number">Telefonní číslo:</label>
                <input type="text" class="form-control" pattern="[\+\(\s.\/\d\)]{9,16}" name="tel_number"
                    value="{{ request.form['tel_number'] }}" required>
                <small class="form-text text-muted">Př.: +420722659426</small>
            </div>
        </div>
        <div class=" row">
            <div class="col">
                <label for="address">Adresa:</label>
                <input type="text" class="form-control" name="address" value="{{ request.form['address'] }}" required>
            </div>
        </div>
        <div class=" row">
            <div class="col">
                <label for="login">Login:</label>
                <input type="text" class="form-control" name="login" value="{{ request.form['login'] }}" required>
            </div>
            <div class="col">
                <label for="password">Heslo:</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="col">
                <label for="user_role">Role:</label>
                <select class="form-control" name="user_role" required>
                    <option value="{{ request.form['user_role'] }}" selected>Zvolte roli</option>
                    {% for role in roles %}
                    <option value="{{role.name}}">{{role.czech_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>

        <div class="text-center">
            <button type="submit" style="text-align: center;" class="btn btn-primary "><i
                    class="bi bi-pencil-square"></i> Přidat</button>
        </div>

    </form>
</div>
</section>

{% endblock %}
