{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/walks.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/walks.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Showcase -->
<section class="p-3 bg-dark text-white text-center text-sm-start">
    <div class="container">
        <h1>Moje procházky</h1>
    </div>
</section>

<section class="bg-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" id="sectionBody">
    <div class="container">
        <div class="mb-5 mt-2 futureTable">
            <table class="table table-striped table-bordered align-middle" id="futureTable">
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="7">Plánované procházky</th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Začátek</th>
                        <th scope="col">Konec</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Smazat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for future in future_events %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ future.start }}</td>
                            <td>{{ future.end }}</td>
                            <td>
                                <a type="button" href="{{url_for('animals_detail', id=future.animal.id)}}" class="btn btn-primary">{{ future.animal.name }}</a>
                            </td>
                            <td>{{ future.description }}</td>
                            <td class="col text-center">
                                <form method="POST" class="deleteWalk">
                                    <button class="btn btn-danger btn-login text-uppercase fw-bold bi-trash-fill deleteWalk" type="submit"></button>
                                    <input type="hidden" value="{{ future.id }}" name="id"/>
                                    <input type="hidden" value="{{ future.start }}" name="start"/>
                                    <input type="hidden" value="event" name="object"/>
                                    <input type="hidden" value="DELETE" name="action"/>
                                    <input type="hidden" value="{{ url_for('walks') }}" name="url"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <hr/>
        
        <div class="my-5 historyTable">
            <table class="table table-striped table-bordered align-middle" id="historyTable">
                <thead class="table-dark">
                    <tr>
                        <th class="h3" scope="col" colspan="6">Historie</th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Začátek</th>
                        <th scope="col">Konec</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">Popis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for past in past_events %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ past.start }}</td>
                            <td>{{ past.end }}</td>
                            <td>
                                <a type="button" href="{{url_for('animals_detail', id=past.animal.id)}}" class="btn btn-primary">{{ past.animal.name }}</a>
                            </td>
                            <td>{{ past.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
